* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 325px;
    height: 460px;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border: 2px solid lightgray;
    padding: 4px;
}

.resultPanel {
    width: 100%;
    height: 100px;
    background-color: #233142;
    border: 1px solid lightgray;
}

.result {
    font-size: 3rem;
    color: white;
    display: block;
    text-align: right;
    margin: 20px;
}

.clearDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clearDiv button {
    width: 49%;
    height: 50px;
    color: white;
    border: none;
    background-color: #f95959;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.numbers button {
    margin: 1.5px;
}

.number {
    width: 70px;
    height: 70px;
    background-color: #e3e3e3;
    border: 1px solid lightgray;
    font-size: 1.5rem;
}

.equals {
    width: 70px;
    height: 70px;
    background-color: #53a8b6;
    border: 1px solid lightgray;
    font-size: 1.5rem;
}

.operators {
    display: flex;
    flex-direction: column;
}

.operator {
    width: 70px;
    height: 70px;
    background-color: #455d7a;
    border: 1px solid lightgray;
    font-size: 1.5rem;
    color: yellow;
    margin: 1.5px;
}

/* HOVER */
.clearDiv button:hover {
    background-color: #7d2d2d;
}

.number:hover {
    background-color: #a2a2a2;
}

.equals:hover {
    background-color: #31656c;
}

.operator:hover {
    background-color: #2d3c4f;
}

@media (max-width: 480px) {

    #container {
        padding: 10px;
    }

    #calculator {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .resultPanel {
        height: 80px;
    }

    .result {
        font-size: 2.2rem;
        margin: 15px;
    }

    .clearDiv button {
        height: 45px;
        font-size: 1rem;
    }

    .content {
        gap: 4px;
    }

    .number,
    .equals,
    .operator {
        width: 60px;
        height: 60px;
        font-size: 1.3rem;
    }

    .numbers button,
    .operator {
        margin: 2px;
    }
}